body,html{
	height: 100%;
	margin:0;
	font-size: 16px;
	font-family: "Lato",Arial;
	color:#666;
	line-height: 1.8em;
	font-weight:400;
	scroll-behavior: smooth;
}
.img1,.img2,.img3,.img4,.img5,.img6,.img7{
	position:relative;
	opacity: 1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	z-index: 1;
}
.sectionlast{
	background-color:#696969;
	height: 130px;
}
.malayalam{
	position: relative;
	font-family: arial;

	color: white;
	top: 24%;
	left: 30%;
	letter-spacing: 11px;
	font-size: 85%;
}
.img1{
	background-image: url(dp7.jpg);
	min-height: 120%;
	opacity: .8;

}
.img2{
	background-image: url(Skills.jpeg);
	min-height: 120%;
	z-index: -1;
}
.img3{background-image: url(uae.jpg);
			min-height: 120%;
				z-index: -1;
}
.img5{
	background-image: url(Contactme.jpeg);
		min-height: 120%;
			z-index: -1;
}
.img6{
	background-image: url(background.jpg);
		min-height: 120%;
			z-index: -1;
}

.img7{
	background-image: url(Resume.jpeg);
	min-height: 120%;
		z-index: -1;
}
.DP{
	background-image: url(aboutme3.jpg);
	min-height: 120%;

	position: relative;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.section{
	text-align: center;
	padding: 50px 80px;
}
.section-dark{
background-color:#282e34;
color: #ddd;
}
.textabout{
	position: absolute;
	top: 10%;
	width: 80%;
	left: 10%;
	text-align: center;
	color: white;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
	font-weight: bold;
}
.textedu{
	position: absolute;
	top: 30%;
	width: 80%;
	left: 10%;
	text-align: center;
	color: white;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
		font-weight: bold;
}
.textwhatiknow{
	position: absolute;
	top: 10%;
	width: 80%;
	left: 10%;
	text-align: center;
	color: white;
	font-size: 27px;
	letter-spacing: 15px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Consolas",Monospaced;
}
.textresume,.textcontact{
	position: absolute;
	top: 40%;
	width: 80%;
	left: 10%;
	text-align: center;
	color: white;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
}
.text{
	position: absolute;
	top:58%;
	width: 	95%;
	text-align: center;
	color: white;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform:uppercase;
	left: 3.5%;
}

.WTMW{
	width: 70%;
	position: absolute;
	left:26.1%;
	font-family: Arial;
	font-size: 47px;
	color: black;
	font-weight: 40;
	top:50.2%;
	letter-spacing: 12px;
}
.textaboutpara{
	background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4);

	color: black;
	position: absolute;
	top: 45%;
	left: 3.5%;
	font-family:cursive;
	font-size: 35px;
	color: white;
	letter-spacing: 10px;
	
}
.textabout .border{
	background-color:transparent;
	color: white;
	padding:20px;
	letter-spacing: 25px;
}
.textwhatiknow .border{
	letter-spacing: 25px;
	color: #fff;
	padding:20px;
}
.textedu .border{
	letter-spacing: 25px;
	color: #fff;
	padding:20px;
  position: relative;
  bottom: 169px;
}
.textresume .border{
	font-weight: bold;
	color: white;
	padding:20px;
	letter-spacing: 25px;
}
.textcontact .border{
	color:white;
	padding:20px;
	letter-spacing: 25px;
	font-weight: bold;
}
.text .border{
	background-color:#111;
	color: #fff;
	padding:20px;
	letter-spacing: 25px;
}
.text2 .border{
	background-color:white;
	color: black;
	padding:20px;
	letter-spacing: 25px;
}

.hussain{
	
	left: -450px;
}
nav{
	float: right;

}
nav ul{
	margin:0;
	padding: 0;
	list-style: none;

}
nav li{							/*LINE OF THE NAV BAR*/
display:inline-block;
margin-left: 55px;
padding-top: 15px;
position: relative;

}
nav a{
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bolder;
	filter: darken(#444,150%);
	width: 0;

}
nav a:hover{
	color:#000;
}
nav a:before{
	content: '';
	display: block;
	height: 5px;
	width: 0%;
	background-color: #444;
	position: absolute;
	top: 0;
    transition:all ease-in-out 250ms;
}
nav a:hover::before{
	width: 100%;
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.upar{
	position: fixed;
	left: 30%;
	z-index: 3;
}
ul{
	z-index: 3;
}
.container2
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 50px 0;
  transform-style: preserve-3d;
  padding-top: 200px;

}
.image{
	width: 400px;
	height: 300px;
}
.container2 .box
{ border-radius: 50%;
  position: relative;
  width: 400px;
  height: 300px;
  margin: 60px 0;
  background: #000;
  background: #000;
  transform-style: preserve-3d;
  margin-left: 36px;
  margin-right: 36px;
}
.container2 .box:hover
{
  box-shadow: 0 50px 80px rgba(0,0,0,.2)
}
.container2 .box .imgBx
{
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  height: 100%;

}
.container2 .box .contentBx
{
  position: absolute;
  top: 50%;
  left: 50px;
  right :50px;
  background: #fff;
  transform: translateZ(20px) scaleY(0);
  padding: 40px 25px;
  transform-origin:top;
  transition: 0.5s;

  transform-style: preserve-3d;
}

.container2 .box:hover .contentBx
{
  transform: translateZ(50px) scaleY(1);

}

/*Progress bar/*/
.containerskills{
	position: absolute;
	width: 120%;
	height: 800px;
	display: flex;
	justify-content: space-around;
	left: -15%;
}
.containerskills .card{
	position: relative;
	width:200px;
	top: 200px;
	background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}
.containerskills .box2:hover{
	transform: translateY(-10px);
	box-shadow: 0 15px 35px rgba(0,0,.5);
}
.containerskills .box2:before{
	content: '';
	position:absolute;
	top: -50%;
	left:-50%;
	width: 100%;
	height: 300%;
	background: rgba(255,255,255,0.1);
	pointer-events: none;
	z-index: 1;

}
.percent{
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: inset 0 0 50px #000;
	background: #222;
	z-index: 1000;
}
.percent .number{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50;
}
.percent .number h2{
	color:  #777;
	font-weight: 700;
	font-size: 40px;
	transition: 0.5s;
}
.card:hover .percent .number h2{
	color: #fff;
	font-size: 60;
}
.percent .number h2 span{
	font-size: 24px;
	color: #777;
	transition: 0.5s;
}
.card:hover .percent .number h2 span{

	color: #fff;
}
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto',sans-serif;
}
svg{
	position: 	relative;
	width: 150px;
	height: 150px;
	z-index: 1000;
}
svg circle{
	width: 100%;
	height: 100%;
	fill: none;
	stroke: #191919;
	stroke-width:10;
	stroke-linecap: round;
	transform: translate(5px,5px);
}
.textprog{
	position: relative;
	margin-top: 20px;
	color: #777;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: 0.5s;
}
svg circle:nth-child(2)
{
	stroke-dasharray:440;
	stroke-dashoffset:440;
}
.card:nth-child(1) svg circle:nth-child(2)
{	stroke-dashoffset:calc(440 - ( 440 * 90) / 100 );
	stroke: #00ff43;
}
.card:nth-child(2) svg circle:nth-child(2)
{	stroke-dashoffset:calc(440 - ( 440 * 80) / 100 );
	stroke: #00a1ff;
}
.card:nth-child(3) svg circle:nth-child(2)
{	stroke-dashoffset:calc(440 - ( 440 * 60) / 100 );
	stroke: #ff04f7;
}
.containerskills .box2{
	position: relative;
	width:150px;
	height: 150px;
	transition: 0.5s;
}
/*CONTACTME*/
.containercontact
{	
  height: 150px;
  width: 80vw;
 
  position: absolute;;
  margin: auto;
  top: 590px;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color:transparent;
  font-size: 80px;
}
.tony
{
  display: block;
  height: 100px;
  width: 100px;

  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 80px;

}

.fa-instagram
{
  color: #ea3145;
}
.fa-envelope
{
  color: red;
}
.fa-linkedin
{
  color: #0e76a8;
}
.Suhaib{
	left: -150%;

}
a:active
{
  box-shadow: inset -7px -7px 17px rgba(255,255,255,0.6),
              inset 7px 7px 17px rgba(70, 70, 70, 0.12);
}
/*BUTTON*/
.button{
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 14px;
	text-decoration:none;
	font-size: 44px;
	overflow: hidden;
	transition:0.2s;
	left: 36%;
	top: 300px;
}
.button:hover{
		color: #255784;
		background:#2196f3;
		box-shadow: 0 0 10px #2196f3,0 0 40px #21963,0 0 80px #2196f3;
		transition-delay: 1s;	
}
.button span{
	position: absolute;
	display: block;
}
.button span:nth-child(1)
{
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,#2196f3);
}
.button:hover span:nth-child(1)
{
	left: 100%;
	transition: 1s;
}
.button span:nth-child(3)
{
	bottom:  0;
	right:-100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,#2196f3);
}
.button:hover span:nth-child(3)
{
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}
.button span:nth-child(2)
{
	top:  -100%;
	right:0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#2196f3);
}
.button:hover span:nth-child(2)
{
    top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
.button span:nth-child(4)
{
	bottom:-100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,#2196f3);
}
.button:hover span:nth-child(4)
{
    bottom:  100%;
	transition: 1s;
	transition-delay: 0.75s;
}
